/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282828;
    color: #ebdbb2;
    font-size: 17px;
    min-height: 100vh;
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: transparent;
    background-image: radial-gradient(#252525 1.5px, #1d2021 1.5px);
    background-size: 25px 25px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro a {
    color: #d65d0e;
    text-decoration: underline;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ascii-art {
    font-size: 20px;
    white-space: pre;
    overflow: hidden;
    background: linear-gradient(90deg, #ebdbb2, #fabd2f, #fe8019, #fb4934, #fe8019, #fabd2f, #ebdbb2);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: transparent;
    transition: background-position 0.5s ease;
}

.ascii-art:hover {
    background-position: 100% center;
}

header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.time {
    color: #928374;
}

.contact-links {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-btn {
    color: #928374;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: color 0.5s ease-in-out;
    font-size: 16px;
    font-weight: bold;
}

.social-btn:nth-child(1):hover {
    color: #ebdbb2;
}

.social-btn:nth-child(2):hover {
    color: #fabd2f;
}

.social-btn:nth-child(3):hover {
    color: #fc9a24;
}

.social-btn:nth-child(4):hover {
    color: #fe8019;
}

.social-btn:nth-child(5):hover {
    color: #fb4934;
}

/* Responsive */
@media (max-width: 768px) {
    .ascii-art{
        font-size: 12px;
        letter-spacing: normal; 
    }
}

@media (max-width: 480px) {
    .intro p {
        margin-bottom: 15px;
    }
}