html, body{
    overflow-x: hidden;
}

header, body {
    animation: fadeIn 1.5s ease-in-out;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: rgb(94, 22, 40);
    color: rgb(242, 195, 197);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(94, 22, 40);
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.logo {
    height: 50px;
}

#name {
    position: absolute;
    font-size: 24px;
    color: rgb(255, 255, 255);
    z-index: 8;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: rgb(78, 19, 36);
    padding: 20px;
    width: 100%;
    margin: 0; 
    text-align: center;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
}

.project {
    padding: 20px;
    text-align: left;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    overflow: hidden;
}

.project.active {
    animation: expand 1s forwards;
}

.project.inactive {
    animation: shrink 1s forwards;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.project-logo {
    height: 50px;
    transition: transform 0.5s ease;
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    z-index: 1;
}

.project.active .project-content {
    opacity: 1;
    transition-delay: 1s;
}

.project-info {
    flex: 1;
    padding: 0 20px;
}

.project-gif {
    flex: 1;
    text-align: center;
}

.project-gif img {
    width: 80%;
    height: auto;
    transition: transform 0.3s ease; 
}

.project-gif img:hover {
    transform: scale(1.1); 
}

.mostused {
    background-color: #000;
    color: #fff;
    transition: background-color 0.5s ease;
    z-index: 1;
}

.project.active.mostused {
    background-color: #000;
    background-image: url('assets/oooooBars.gif');
    background-size: 60%;
    background-position: 80% bottom;
    background-repeat: no-repeat;
}

.desstop {
    background-color: #fff;
    color: #000;
    transition: background-color 0.5s ease;
    z-index: 2;
}

.project.active.desstop {
    background-color: #fff;
}

#stats {
    background-color: rgb(78, 19, 36);
    padding: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
}

#stats h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.stats-container {
    display: flex;
    justify-content: space-around;
}

.stats-details {
    flex: 1;
    padding: 20px;
    margin: 100px;
}

.stats-chart {
    flex: 1;
    padding: 20px;
    position: relative;
    height: 100%;
}

footer {
    background-color: rgb(94, 22, 40);
    padding: 10px;
    text-align: center;
}

.footer-link {
    color: rgb(242, 195, 197);
    text-decoration: none;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
}

.email {
    display: block;
    margin-top: 10px;
    color: rgb(242, 195, 197);
}

@media (max-width: 1200px) {
    .project-content {
        flex-direction: column;
    }

    .project-info, .project-gif {
        padding: 10px;
    }

    .project-gif img{
        height: auto;
        width: 100%;
    }

    .stats-details{
        margin: 0px;
    }

    .stats-container {
        flex-direction: column;
    }
}

@keyframes expand {
    0% {
        transform: scale(1);
        height: auto;
    }
    100% {
        transform: scale(1.1);
        height: 100vh;
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.1);
        height: 100vh;
    }
    100% {
        transform: scale(1);
        height: auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



